// all keyframes 

/* animation for the number glow */
@keyframes numberGlow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
  50% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.5),
      0 0 30px rgba(0, 255, 255, 0.5);
    transform: scale(1.1);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
} 